[Unit]
Description=Local SOCKS5 daemon
After=syslog.target

[Service]
ExecStart=/usr/bin/gsocks5 -c /etc/gsocks5/client.json 
Restart=on-abort

[Install]
WantedBy=multi-user.target
